* {
    box-sizing: border-box;
}

body {
    font-family: arial;
    margin: auto;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

    margin: auto;

    max-width: 1000px;

    border: 3px solid red;
}

.flex-container a {
    text-decoration: none;
    color: black;
}

.flex-title {
    width: 100%;
    text-align: center;
    margin-bottom: 1vw;
}

.flex-title a {
    text-decoration: none;
    color: black;
}

.flex-title a:hover {
    text-decoration: underline;
}

.flex-button {
    display: flex;
    align-items: center;
    justify-content: center;

    /*background-color: whitesmoke;*/
    border: 3px dashed lightseagreen;
    border-radius: 10%;

    width: 20vw;
    max-width: 250px;
    min-width: 150px;

    height: 20vw;
    max-height: 250px;
    min-height: 150px;

    margin: 2vw;

    font-size: 3vw;
}

.flex-button:hover {
    border: 3px solid lightseagreen;
    background-color: lightseagreen;
    color: white;
}

.flex-photo {
    border: 3px solid lightseagreen;
    border-radius: 10%;

    width: 20vw;
    max-width: 250px;
    min-width: 150px;

    height: 20vw;
    max-height: 250px;
    min-height: 150px;

    margin: 2vw;
}