html {
    scroll-behavior: smooth;
}

body {
    font-family: arial, sans-serif;
    margin: 0;
}

.main {
    margin: auto;
    max-width: 50rem;
    padding: 2rem 1rem 0 1rem;
}

.main a {
    text-decoration: none;
    color: LightSeaGreen;
}

.main a:hover {
    text-decoration: underline;
}

.head-plate {
    display: flex;
    align-items: center;
}

.header {
    flex: 1;
    max-width: 24rem;
    text-align: right;
    margin-bottom: 1rem;
}

.myphoto {
    flex: 1;
    max-width: 10rem;
    min-width: 5rem;

    border: 2px solid LightSeaGreen;
    border-radius: 1rem;
    margin-left: 1rem;
}

.navigation-bar {
    display: flex;

    margin-top: 2rem;

    font-size: 1.2rem;
}

.navigation-bar a {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

.navigation-bar a.active {
    background-color: paleturquoise;
}

.navigation-bar a:hover {
    background-color: LightSeaGreen;
    color: white;
    text-decoration: none;
}

.quote {
    text-align: right;
    margin-bottom: 2rem;
}

hr.top-bar {
    border: 1rem solid LightSeaGreen;
    margin: auto;
    max-width: 48rem;
}

hr.normal {
    margin-top: 0;
    margin-bottom: 3rem;
    border: 1px solid LightSeaGreen;
}

footer {
    position: absolute;
    bottom: 1rem;
}

.container {
    position: relative;
    max-width: 200px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 1s ease;
}

.container:hover .overlay {
    opacity: 1;
}

